$clr--pink: rgb(239, 123, 154);
$clr--pale-pink: rgba(239, 121, 152, 0.6);
$clr--whitesmoke: rgba(245, 245, 245, 1);
$clr--pale-yellow: rgba(249, 228, 148, 1);
$clr--lt-pale-yellow: rgba(249, 228, 148, 0.3);
$clr--dim-gray: rgb(71, 69, 84);
$clr--dusk-blue: rgba(66, 87, 118, 0.9);
