//$clr--pink: #ef7b9a;
//$clr--pink: #ff6d97;
$clr--pink: #d74876;
$clr--pale-pink: #ef799899;
$clr--whitesmoke: rgba(245, 245, 245, 1);
//$clr--pale-yellow: #f9e494;
$clr--pale-yellow: rgb(249, 248, 113);
$clr--lt-pale-yellow: rgba(249, 248, 113, 0.3);
$clr--bg-two: #fbecb2;
$clr--dim-gray: rgb(71, 69, 84);
$clr--lt-purple: #8c7a9f;
$clr--dusk-blue: #425776;
$clr--dark-blue: #2f4858;
//$clr--cart-bg: #fff3f8;
//$clr--cart-box-bg: #fdf0ca;
$clr--cart-box-bg: #fffbeb;
$clr--cart-bg: #dca11d;
$clr--cart-bg-2: #fff7d6;
$clr--bg-one: #fcf1c5;
$clr--bg-three: #d4ac0c;
$clr--bg-four: #4d3f04;

$clr--one: #007262;
$clr--two: #00814e;
$clr--three: #258e37;
$clr--four: #6b991e;
$clr--five: #a49f09;
$clr--six: #00626f;
$clr--seven: #1e6c8c;
$clr--eight: #4e73a3;
$clr--nine: #8076ae;
$clr--ten: #af77ac;
$clr--eleven: #d57b9d;
$clr--twelve: #58a2b0;
$clr--thirteen: #7bc4d2;
$clr--fourteen: #9de7f6;
$clr--fifteen: #00363d;
