@use '../base/' as *;
@use '../abstracts/' as a;

body {
  background-image: linear-gradient(
      to bottom,
      $clr--lt-pale-yellow,
      $clr--lt-pale-yellow
    ),
    url('../assets/headerBcg.jpeg');
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

.App {
  width: 100vw;
  height: fit-content;
}
